# adaptation pour ansible : instances ephemeres
[defaults]
#désactivation du check des clefs SSH (fingerprint yes/no) pour les instances ephemeres (GitLab CI/CD)
host_key_checking = False
#.retry non nécessaire pour les instances ephemeres (GitLab CI/CD) : on desactive la creation du fichier .retry
retry_files_enabled = False
#Sortie en yaml pour une meilleure lisibilite dans les logs GitLab
stdout_callback = yaml

#pipelining pour optimiser les appels SSH sans fichier temporaire.
[ssh_connection]
pipelining = True
